* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins";
}
/* Common */
a {
  text-decoration: none;
}
.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 8px;
  background: #0f1b4c;
  min-width: 98px;
  padding: 18px 16px;
}
.btn:hover {
  opacity: 0.8;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Header */
.header {
  height: 100vh;
  background-color: #e6f0ff;
  position: relative;
}
.navbar {
  display: flex;
  padding-top: 50px;
  align-items: center;
}
.navbar ul {
  display: flex;
  margin-left: 50px;
}
.navbar ul a {
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 8px 14px;
}
.navbar ul a:hover {
  text-decoration: underline;
}
.action {
  margin-left: auto;
}
.navbar .action-link {
  color: #0f1b4c;
  font-size: 1.4rem;
  font-weight: 500;
}
.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
}
/* Hero */
.hero {
  margin-top: 130px;
}
.hero .info {
  width: 51%;
}
.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
.hero .title {
  color: #000336;
  margin-top: 8px;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.19;
}
.hero .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
}
.hero .hero-btn {
  margin-top: 40px;
  min-width: 170px;
}
.hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}
/* Client */
.clients {
  margin-top: 79px;
  padding: 43px 0 41px;
}
.clients .row {
  display: flex;
  justify-content: space-between;
}
.clients .row-desc {
  margin-top: 23px;
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
}
.clients .images {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Guides */
.guides {
  margin-top: 40px;
  padding: 79px 0;
}
.guides .sub-tile {
  position: relative;
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}
.guides .sub-tile::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: #000339;
}
.guides .desc {
  width: 459px;
  max-width: 100%;
  margin: 20px auto 0;
  color: #5a6473;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
}
.list-guide {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.guide-item {
  margin: 0 70px;
  text-align: center;
}
.guide-item .title {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
}
.guide-item .link {
  display: inline-block;
  margin-top: 10px;
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
}
.guide-item .right-arrow {
  margin-left: 6px;
}
.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
.guide-cta .btn {
  min-width: 170px;
}
/* Features */
.featured {
  margin-top: 41px;
  padding: 110px 0;
  background: #f5fafe;
}
.featured .sub-title {
  color: #000339;
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1;
}
.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.featured .row .desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
}
.featured .row .link {
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
}
.featured .row .link .arrow {
  position: relative;
  top: -2px;
  margin-left: 8px;
}
.featured .list {
  display: flex;
  margin-top: 70px;
  gap: 30px;
}
.featured .item {
  flex: 1;
  border-radius: 12px;
  background: #fff;
}
.featured .item .thumb {
  width: 100%;
  height: 227px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  object-fit: cover;
}
.featured .item .body {
  padding: 17px 20px 24px;
}
.featured .item .title a {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  word-break: break-all;
}
.featured .item .desc {
  color: #a3a6ab;
  margin-top: 11px;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;
}
.featured .item .info {
  display: flex;
  align-items: center;
  margin-top: 21px;
}
.featured .item .icon {
  margin-left: 23px;
}
.featured .item .icon:first-child {
  margin-left: 0;
}
.featured .item .label {
  margin-left: 8px;
  color: #4d4d52;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.01em;
}
/* Stats */
.stats {
  margin-top: 75px;
  padding: 50px;
}
.stats .content {
  width: 1048px;
}
.stats .row {
  display: flex;
}
.stats .img-block,
.stats .info {
  width: 50%;
}
.stats .info {
  padding: 79px 0 0 165px;
}
.stats .img-block .image {
  display: block;
  width: 400px;
  height: 460px;
  margin-left: auto;
  border-radius: 12px;
  object-fit: cover;
}
.stats .sub-title {
  position: relative;
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.29;
  width: 269px;
}
.stats .sub-title::before {
  position: absolute;
  content: "";
  display: block;
  top: -10px;
  left: 0;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}
.stats .info .desc {
  width: 309px;
  margin-top: 20px;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
}
.stats .img-block {
  position: relative;
}
.stats-trend {
  position: absolute;
  padding: 45px 22px 40px 22px;
  width: 239px;
  border-radius: 0px 0px 12px 12px;
  background-color: #fff;
}
.stats-trend .value {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1;
}
.stats-trend .icon {
  margin-left: auto;
}
.stats-trend .desc {
  margin-top: 8px;
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  width: 194px;
}
.stats .separate {
  height: 1.2px;
  margin-top: 26px;
  background: #e9e9e9;
}
.stats-trend .avatar-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 14px;
  margin-top: 26px;
}
.stats-trend .avatar-block {
  display: flex;
}

.stats-trend .avatar {
  width: 16.337px;
  height: 16.337px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -3px;
  font-weight: 450;
  font-size: 0.7rem;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background-color: var(--bg-color, #fff);
}
.stats-trend .avatar:first-child {
  margin-left: 0;
}
.stats .row-qty {
  justify-content: space-between;
  padding: 0 32px;
  margin-top: 110px;
}
.stats .row-qty .qty {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
}
.stats .row-qty .qty-desc {
  margin-top: 24px;
  color: #7b8087;
  font-size: 1.8rem;
  font-weight: 500;
}
/* Subscription */
.subscription {
  margin-top: 90px;
}
.subscription .body {
  position: relative;
  display: flex;
  height: 370px;
  border-radius: 20px;
  background: #063183;
  align-items: center;
}
.subscription .info {
  width: 671px;
  padding: 0 80px;
}
.subscription .info .sub-title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}
.subscription .info .desc {
  margin-top: 15px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
  opacity: 0.75;
}
.subscription .btn {
  margin-top: 20px;
  min-width: 151px;
  border-radius: 12px;
  background: #fff;
  color: #002366;
  font-size: 1.3rem;
  font-weight: 500;
}
.subscription .image {
  position: absolute;
  bottom: 0;
  right: 221px;
}
/* Footer */
.footer {
  margin-top: 55px;
  padding: 50px 0 58px;
}
.footer .row {
  display: flex;
}
.footer .row-top {
  gap: 185px;
}
.footer .heading {
  font-family: "Lato", sans-serif;
  color: #1c1c1d;
  font-size: 2rem;
  font-weight: 700;
}
.footer .list,
.footer .desc {
  margin-top: 42px;
}
.footer .list .item {
  margin-top: 18px;
}
.footer .list .item a,
.footer .list .item .desc {
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  white-space: nowrap;
}
.footer .desc {
  white-space: normal;
  line-height: 1.75;
}
.footer .social {
  margin-top: 40px;
}
.footer .row-bottom {
  margin-top: 81px;
  justify-content: space-between;
  align-items: center;
}
.footer .coppyrigth {
  color: #c2c2c2;
  font-size: 1.4rem;
  font-weight: 400;
}
